/* 웹 폰트 적용 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 자주사용하는 변수 생성 */
:root {
	--back-color :  #F8F7F4;
	--back-color2 :  #ecebe8;
    /* --vintage-green : #f6e7cd; */
    --vintage-red : #C45D4A;
    --vintage-green : #97A482;
    --vintage-black : #3B3C37;
    --vintage-gray : #545450;
    --green-white: #B4BCA3;
    --vintage-wheat : #fffdf8;
    --gray-white: #5454503b;
	--vintage-blue: #6A7B8C;
    
	--Gmartket : 'GmarketSansMedium';
	--NotoSans : 'Noto Sans KR';
    --Tenada : 'Tenada';

}

/* 전체 CSS 적용 */


/* sweetalert2 CSS */

.swal2-title {
	font-family: var(--NotoSans);
	font-weight: 300;
	color: var(--vintage-black);
}


h1,h2 {
    font-family: var(--Tenada);
    padding-top: 20px;
}

#root {
	text-align: center;
	background-color: var(--back-color);
	color: var(--vintage-black);
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR';
    min-height: 100vh;
}

.container{
	margin: 0 !important;
	max-width: 100% !important;
	padding: 0 !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 10px;
}

ul {
	list-style-type: none;
	display: flex;
	width: 280px;
	margin: auto;
}

li {
	padding: 10px;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

/* Header CSS */
.header{
	background-color: var(--back-color);
	color: var(--vintage-black);
	padding: 20px;
	position: relative;
}

.header .me-auto > ul{
	width: 100% !important;
}

.header .me-auto{
	margin-right: 20px !important;
	text-align: right;
}

.me-auto.navbar-nav{
	flex-direction: row;
}

.me-auto a{
	padding: 0.8em;
	float: left;
}

.logo:hover{
	cursor: pointer;
}

.logo{
	overflow: hidden;
    width: 280px;
    text-align: center;
}

.logo span {
	display: block;
	height: 60px;
    margin: 20px 20px 20px 50px;
	float: left;
	width: 120px;
}

.logo span img{
	height: 100%;
}

.header-login{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 1.1em;
}

.headerRight a{
    padding: 0 10px;
}

.header-login > div > button{
    padding: 0 10px;
	border: none;
	background-color: var(--back-color);
}

.header-login > div > span{
	display: inline-block;
	margin-right: 10px;
	padding-top: 2px;
}

/* Navbar */
.navbar {
	color: var(--vintage-gray);
    background-color: var(--back-color) !important;
	text-align: center !important;
	padding: 0;
	align-items: center;
	padding-bottom: 20px !important;
	padding-top: 0 !important;

}

.navbar-me-auto  li{
	width: auto;
	padding: 0;
	margin: 0 10px;
	height: 20px;
}

.navbar-me-auto li a {
	display: block;
	width: 100%;
	padding: 5px 20px 0 ;
	height: 40px;
	line-height: 40px;
	font-size: 1.4em;
    font-family: var(--Tenada);
	border-radius: 10px;
    text-transform: uppercase;
	transition: color 0.4s ease, background-color 0.4s ease, text-shadow 0.4s ease;
}

.navbar-me-auto li a:hover {
	background-color: #545450;
	border-radius: 10px;
	color: #FFF5EA !important;
    text-shadow: 1px 1px 3px var(--vintage-black);
}


/* login */

.loginCSS,
.registerCSS,
.FindCSS{
	width: 100%;
	min-height: 60vh;
	padding-top: 40px;
    padding-bottom: 120px;
	text-align: center;
}

.loginCSS img,
.FindCSS img{
    height: 80px;
    margin-bottom: 60px;
}


.loginCSS table,
.FindCSS table{
	margin: 0 auto;
}

.loginCSS table label,
.FindCSS table label{
	font-family: var(--Tenada);
	margin-right: 10px;
	font-size: 20px;
    padding-top: 7px;
}

.loginCSS table button {
	width: 100px;
    background-color: var(--green-white);
    color: var(--back-color);
	margin-top: 3px;
	height: 84px;
	font-family: var(--Gmartket);
	font-size: 20px;
	border-radius: 5px;
	border: none;
	transition: color 0.4s ease, background-color 0.4s ease;
	margin-left: 3px;
}

.loginCSS table button:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-black);
}

.loginCSS input{
	width: 100%;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 40px;
    font-size: 1em;
	line-height: 30;
	background-color: rgba(255, 255, 255, 1);
	caret-color: var(--back-color);
	padding-left: 10px;
	transition: background-color 0.4s ease;
}

.loginCSS input:focus{
	outline: none;
	background-color: var(--vintage-wheat);
    border: 0.1px solid var(--green-white);
	caret-color: var(--vintage-black);
}

.loginCSS span{
    color: var(--vintage-gray);
    display: inline-block;
    margin-top: 10px;
}

.login-sideBtn{
    border: none;
    background-color: var(--back-color);
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.4s ease;
}

.login-sideBtn:hover{
    color: var(--vintage-black);
}

.loginBtnUl{
	width: 400px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;    
    list-style:none;

}

.loginBtnUl li{
	position: relative;
	width: calc(100%/3);
}

.loginBtnUl li:nth-child(2)::before{
	content: '';
	position: absolute;
	left: 0;
	top: 15px;
	width: 1px;
	height: 18px;
	background-color: rgba(0, 0, 0, 0.3);
}

.loginBtnUl li:nth-child(3)::before{
	content: '';
	position: absolute;
	left: 0;
	top: 15px;
	width: 1px;
	height: 18px;
	background-color: rgba(0, 0, 0, 0.3);
}


/* Find */

.FindCSS h1,
.FindCSS p{
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

.FindCSS hr{
	width: 500px;
	margin: 10px auto 5px;
}

.FindCSS table{
	width: 500px;
	margin-top: 15px;
}

.FindCSS table td{
	text-align: left;
}

.FindCSS table button{
	width: 100%;
}

.FindCSS input[type="text"],
.FindCSS input[type="password"]{
    width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 40px;
    font-size: 1em;
	line-height: 30;
	background-color: rgba(255, 255, 255, 1);
	caret-color: var(--back-color);
	padding-left: 10px;
	transition: background-color 0.4s ease;
}

.FindCSS input:focus{
	outline: none;
	background-color: var(--vintage-wheat);
    border: 0.1px solid var(--green-white);
	caret-color: var(--vintage-black);
}

.Find-result{
	margin: 30px auto;
	width: 500px;
	padding: 40px 0;
	background-color: var(--back-color2);
	border-radius: 10px;
	font-family: var(--Gmartket);
}


.Find-result b{
	font-size: 1.2em;
	display: inline-block;
	margin: 5px;
}

.Find-result a{
	font-size: 2em;
	display: block;
	width: 200px;
	margin: 0 auto;
	padding-top: 5px;
	color: var(--back-color) !important;
	background-color: var(--green-white);
	font-family: var(--Tenada);
	border-radius: 10px;
	transition: color 0.4s ease, background-color 0.4s ease;
	
}

.Find-result a:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
	text-shadow: 1px 1px 3px var(--vintage-black);
}

.Find-result a:hover{
	color: var(--back-color)
}

/* register */

.registerCSS img{
    height: 80px;
    margin-bottom: 20px;
}

.registerCSS h2{
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.registerCSS hr{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
}


/* Footer.css */
.footer {
    background-color: var(--vintage-black);
    color: var(--back-color);
    font-size: 0.8em;
    padding: 10px 0;
    text-align: left;
    font-family: var(--NotoSans);
    font-weight: 100;
}

.footer-content {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 0 auto;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
flex: 1;
margin: 10px;
min-width: 200px;
padding-left: 50px;
}

.footer-section h4 {
margin-bottom: 10px;
color: var(--back-color);
font-size: 1.2em;
}

.footer-section p, .footer-section a {
margin: 2px 0;
color: #fff;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: underline;
}

.footer-bottom {
margin-top: 20px;
text-align: center;
}

/* Regsiter, 등록에 관련된 CSS */

.formTotal {
	text-align: left;
	margin: 0 auto;
	width: calc(60%);
	min-width: 700px;
    font-size: 1.1em;
}

.formTotal select{
	width: 100% !important;
	height: 40px !important;
	border: none;
}

.formTotal label{
	margin-top: 10px;
	color: var(--vintage-gray);
    font-family: var(--Tenada);
    font-size: 1.2em;
}

.formTotal input[type="text"],
.formTotal input[type="password"]{
    width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 40px;
    font-size: 1em;
	line-height: 30;
	background-color: rgba(255, 255, 255, 1);
	caret-color: var(--back-color);
	padding-left: 10px;
	transition: background-color 0.4s ease;
}

.formTotal input[type="number"]{
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.formTotal input[type="date"]{
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.formTotal input[type="file"]{
	margin-top: 5px;
}

.formTotal input:focus{
	outline: none;
	background-color: var(--vintage-wheat);
    border: 0.1px solid var(--green-white);
	caret-color: var(--vintage-black);
	
}

.formTotal textarea{
	margin-top: 5px;
	padding: 15px;
	word-break: keep-all;

}

input[type=file]::file-selector-button {
	background-color: white;
	border-radius: 5px;
	border: none;
	height: 30px;
	width: 90px;
	margin-right: 15px;
}

.formTotal textarea:focus{
	outline: none;
	background-color: var(--back-color);
	color: white;
	caret-color: var(--vintage-black);
	
}

.nameCaution {
	color: rgb(247, 51, 51);
	padding-left: 10px;
}

.pwdCaution {
	color: rgb(247, 51, 51);
	padding-left: 10px;
}

.formTotal select{
	width: 50%;
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 5px;

}

.formTotal select:focus{
	background-color: white;
	outline: none;
}


.formTotal > select > option:hover{
	background-color: var(--back-color) !important;
}

.formTotal button{
	font-family: var(--Gmartket);
}

.formTotal table{
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}

.formTotal table tbody tr{
    height: 50px;
}

.checkBtn{
    background-color: var(--gray-white);
    color: var(--vintage-gray);
	margin-top: 3px;
    padding: 0 15px;
	height: 42px;
	font-family: var(--NotoSans) !important;
	font-size: 1em;
	border-radius: 5px;
	border: none;
	transition: color 0.4s ease, background-color 0.4s ease;
	margin-left: 3px;
}

.checkBtn:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
}

.bottomBtn{
    width: 100%;
	margin-bottom: 30px;
}

.registerBtn{
    width: 60%;
    height: 60px;
    border: none;
    color: var(--back-color);
    background-color: var(--green-white);
    font-size: 2em;
    font-family: var(--Tenada) !important;
    padding-top: 10px;
	margin-top: 40px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}



.registerBtn:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}


.backBtn{
    width: calc(40% - 15px);
    height: 60px;
    border: none;
    color: var(--back-color);
    background-color: var(--gray-white);
    font-size: 2em;
    font-family: var(--Tenada) !important;
    padding-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.backBtn:hover{
	background-color: var(--vintage-blue);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}

.deleteBtn{
	width: 100%;
    height: 60px;
    border: none;
    color: var(--back-color);
    background-color: var(--gray-white);
    font-size: 2em;
    font-family: var(--Tenada) !important;
    padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.deleteBtn:hover{
	background-color: var(--vintage-red);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}

.accordion{
	margin-bottom: 20px;
	background-color: var(--back-color) !important;
}

.accordion-header{
	margin: 0 !important;
	width: 100% !important;
	padding: 0;
}

.accordion-button{
	width: 100% !important;
	font-size: 0.6em;
}

.checkboxBtn{
	margin-right: 10px;
	width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.accordion-button:active{
	background-color: var(--vintage-green) !important;
	border: none !important;

}

.accordion-button:focus{
	background-color: var(--vintage-green);
	border: none !important;

}

.checkboxBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #ced4da;
    border-radius: 3px;
    box-sizing: border-box;
}

.checkboxBtn:checked::before {
    background-color: var(--vintage-blue);
    border-color: var(--vintage-blue);
}

.checkboxBtn:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}

.card{
	background-color: var(--back-color);
}

.card-header{
	padding: 0;
}

.agreeBtn{
	padding: 0 !important;
	border: none;
	height: 100% !important;
	padding-top: 5px;
	text-align: left;
	padding-left: 20px !important;
}

/* myPage */

.myPageLayoutCSS{
    display: flex;
    width: 100%;
    height: 100%;
}

.myPageNavbarCSS {
	width: 120px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	font-family: var(--Gmartket);
	font-size: 1.2em;
}


.myPageNavbarCSS ul {
	width: 100%;
	display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;    
    list-style:none;
    padding-left:0px;    
    margin-top: 10px;
    margin-bottom: 10px;
	
}

.myPageNavbarCSS ul li {
	width: 100%;
    padding-left: 20px;
    height: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
	color: var(--vintage-gray);
	
}

.myPageNavbarCSS ul li:hover{
	color: var(--vintage-green);
}

.myPageMain {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.manageNavbarCSS {
	width: 120px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	font-family: var(--Gmartket);
	font-size: 1.2em;
}

.profileDiv{
	overflow: hidden;
	position: relative;
}

.manageList{
	width: 100% !important;
	margin: 30px 15px;
}

.manageList td:nth-child(1),
.manageList th:nth-child(1){
	padding-right: 15px;
	text-align: right;
}

.manageList tbody tr{
	transition: background-color 0.4s ease;
}

.manageList tbody tr:hover{
	background-color: var(--green-white);
	cursor: pointer;
}

.memberDetails .bottomBtn{
	text-align: center;
}

.memberDetails .backBtn{
	margin-top: 20px  !important;
}



.mangerRegisterBtn{
	position: absolute;
	top: 17px;
	left: 40px;
	width: 180px;
    height: 40px;
    border: none;
    color: var(--back-color);
    background-color: var(--green-white);
    font-size: 1.5em;
    font-family: var(--Tenada) !important;
    padding-top: 7px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.mangerRegisterBtn:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}


/* 목록 CSS */

.ListBox {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
}

.ListBox div{
	margin: 0px 8px 16px 8px;
	font-size: 16px;
	box-sizing: border-box;
}

.ListBox a{
	width: calc(100%/5 - 20px);
	min-width: 250px;
	height: 200px;
	display: flex;
	margin-bottom: 15px;

}

.TotalItem {

	width: calc(100%/2 - 20px);
	flex-basis: 250px;
	height: 100%;
	background-color: var(--back-color2);
	cursor: pointer;
	color: var(--vintage-gray);
	padding: 20px 10px ;
	text-align: center;
	flex-grow: 1;
	word-break: keep-all;
	font-family: var(--NotoSans);
	border-radius: 10px;
	transition: color 0.2s ease, text-shadow 0.2s ease, background-color 0.2s ease;
}

.TotalItem:hover {
	background-color: var(--green-white);
	color: var(--back-color);
	text-shadow: 1px 1px 3px var(--vintage-gray);
}

.TotalItem table{
	margin: 0 auto;
}

.TotalItem table tbody tr td:nth-child(1){
	text-align: right;
}

.TotalItem table tbody tr td:nth-child(2){
	text-align: left;
	padding-left: 10px;
}

.TotalItem span{
	display: inline-block;
	margin-right: 10px;
}


.ItemName{
	font-family: var(--Tenada) !important;
	font-size: 1.4em;
}

.ItemName h3{
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}

.pagingBtnDiv{
	text-align: center !important;
	justify-content: center;
	align-items: center;
	
}

.pagingBtn {
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: var(--back-color2);
	font-family: var(--Gmartket);
	padding-top: 3px;
	margin-bottom: 30px;

}

.pagingBtn:hover{
	background-color: var(--vintage-blue) !important;
	color: var(--back-color);
}


.categoryDiv{
	width: 600px;
	margin: 0 auto;
	font-family: var(--Tenada);
	position: relative;
}

.categoryDiv button:nth-child(2){
	margin: 0 10px;
}

.categoryBtn{
	width: calc(100%/3 - 60px) !important;
	background-color: var(--gray-white);
	border: none;
	border-radius: 5px;
	color: var(--back-color);
	transition: background-color 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
	padding-top: 5px;
	font-size: 1.1em;
}

.categoryBtn:hover{
	background-color: var(--vintage-green);
	text-shadow: 1px 1px 3px var(--vintage-gray);
}


.boardRegisterBtn{
	margin-left: 10px;
	
}

.formTotal table thead tr{
	height: 50px;
}


.noticeForm table tbody tr{
	border-top: 1px solid var(--gray-white);
}

.noticeList tbody tr:hover{
	background-color: var(--green-white);
	cursor: pointer;
}


.noticeForm table tbody tr:last-child{
	border-bottom: 1px solid var(--gray-white);
}

.boardRegistForm{
	margin-top: 20px;
}

.boardRegistForm table tbody tr td{
	vertical-align: top;
}

.boardRegistForm table tbody tr td:first-child{
	text-align: right;
	padding-right: 30px;
}

.boardRegistForm table tbody tr:last-child td:first-child{
	text-align: right;
	padding-right: 0;
}

.boardRegistForm textarea{
	width: 100%;
	resize: none;
	height: 150px !important;
	border: none;
	border-radius: 5px;
	
}

.boardRegistForm textarea:focus{
	background-color: white;
	border: 1px solid var(--green-white);
}

.listDiv{
	position: relative;
}

.formTotal input[type=time]{
	width: 40%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 40px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}


.bottomBtn{
	text-align: center;
}

input[type=time]:hover:-webkit-datetime-edit-hour-field {
	background-color: var(--green-white);
}

.noticeModifyBtn{
    width: 20%;
    height: 60px;
    border: none;
    color: var(--back-color);
    background-color: var(--green-white);
    font-size: 2em;
    font-family: var(--Tenada) !important;
    padding-top: 10px;
	margin-top: 40px;
	margin-left: 10px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.noticeModifyBtn:hover{
	background-color: var(--vintage-green);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}

.noticeDeleteBtn{
	width: 20%;
    height: 60px;
    border: none;
    color: var(--back-color);
    background-color: var(--gray-white);
    font-size: 2em;
    font-family: var(--Tenada) !important;
    padding-top: 10px;
	margin-top: 40px;
	margin-left: 10px;
    border-radius: 10px;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.noticeDeleteBtn:hover{
	background-color: var(--vintage-red);
	color: var(--back-color);
    text-shadow: 1px 1px 3px var(--vintage-gray);
}

.boardgameImg td > img{
	height: 200px !important;
	margin: 0 auto !important;
}

.boardgameImg td{
	text-align: center !important;
}

.boardgameNameh3{
	font-size: 0.8em !important;
	font-family: var(--NotoSans);
}


.menuImg td > img{
	height: 200px !important;
	margin: 0 auto !important;
}

.menuImg td{
	text-align: center !important;
}

.menuNameh3{
	font-size: 0.8em !important;
	font-family: var(--NotoSans);
}


.ShopDetialForm{
	margin-bottom: 30px !important;
}



.ShopDetialForm table tr{
	font-size: 1.3em;
	background-color: var(--back-color2);
	height: 40px !important;
}

.ShopDetialForm table tr:first-child{
	height: 80px !important;
	vertical-align: bottom;
}

.ShopDetialForm table tr:nth-child(4){
	height: 80px !important;
	vertical-align: top;
}



.ShopDetialForm table tr:last-child{
	font-size: 1em;
	height: 100px !important;
	background-color: var(--back-color);
}

.ShopDetialForm table td:nth-child(1){
	text-align: right;
}


.ShopDetialForm table td:nth-child(2){
	padding-left: 30px;
}

.ShopDetialForm span{
	display: inline-block;
	margin-right: 20px;
}

.ShopDetialForm .registerBtn{
	margin-top: 0;	
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: var(--vintage-gray);
	border-radius: 10%;
	padding: 10px;
	transition: background-color 0.4s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
	background-color: var(--vintage-green);
} 

.carousel-indicators li {
	background-color: black;
}

.carousel-indicators [data-bs-target]{
	background-color: var(--gray-white);
}

.carousel-indicators .active {
	background-color: var(--vintage-green);
}

.captionCSS{
	text-align: right;
	padding-right: 10px;
}

.BoardgameDetialForm table tbody tr td,
.MenuDetialForm table tbody tr td{
	vertical-align: top;
	word-break: keep-all;
}

.BoardgameDetialForm table tbody tr,
.MenuDetialForm table tbody tr{
	height: 20px;
}

.captionCSS span{
	display: inline-block;
	margin-right: 10px;
}

.react-datepicker__time-list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.react-datepicker__time-list-item {
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.ReservationList{
	width: 90%;
}

.ReservationList table thead td{
	font-size: 1.2em;
	font-family: var(--Tenada);
	color: var(--vintage-gray);

}

.ReservationList table tbody tr{
	border-top: 1px solid var(--gray-white);
	
}

.ReservationList table tbody td:first-child{
	padding-left: 10px;
}

.ReservationList table tbody tr:last-child td:first-child{
	padding-left: 0;
}


.ReservationList table tbody tr:hover{
	background-color: var(--green-white);
	cursor: pointer;
}

.ReservationList table tbody tr:last-child:hover{
	background-color: var(--back-color);
	cursor: auto;
}

.ReservationList table tbody tr:last-child{
	height: 150px;
}

.datepicker{
	width: 100% !important;
}

.reservationDiv label{
	width: 100%;
	text-align: right;
	padding-right: 8px;
}

.reservationCSS{
	padding-top: 0;
}
.reservationCSS h2{
	text-align: center;
	margin: 0 auto 10px!important;
	
}